.flex.h-screen
  .w-full.max-w-xs.m-auto.bg-indigo-100.rounded.p-5
    %header
      %img.w-20.mx-auto.mb-5{src: "https://img.icons8.com/?size=256&id=rnwtSv4H3pXk&format=png"}
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %div
        %label.block.mb-2.text-indigo-500{ for: "username" } Correo
        = f.email_field :email, class: "w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300", autofocus: true, autocomplete: "email"
      %div
        %label.block.mb-2.text-indigo-500{ for: "password" } Contraseña
        = f.password_field :password, class: "w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300", autocomplete: "current-password"
      %div
        %input.w-full.bg-indigo-700.hover:bg-pink-700.text-white.font-bold.py-2.px-4.mb-6.rounded{ type: "submit", value: "Ingresar" }

    %footer
      %a.text-indigo-700.hover:text-pink-700.text-sm.float-left{ href: new_user_registration_path } ¿No tienes una cuenta? Crea tu cuenta
